.sc-left-body {
  background-image: linear-gradient(
    180deg,
    #0575e6 0%,
    #02298a 84.79%,
    #021b79 100%
  );
  margin: 0;
  padding: 0;
  width: 55%;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  padding-right: 10%;
}

.container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  z-index: 1;
  margin-left: 30px;
}

.elipse-1 {
  width: 557px;
  height: 557px;
  flex-shrink: 0;
  border-radius: 557px;
  border: 1px solid #0575e6;
  position: absolute;
  left: -181px;
  bottom: -316px;
  box-sizing: border-box;
}

.elipse-2 {
  width: 557px;
  height: 557px;
  flex-shrink: 0;
  border-radius: 557px;
  border: 1px solid #0575e6;
  position: absolute;
  left: -105px;
  bottom: -339px;
  box-sizing: border-box;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.title {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.text {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bt-read-more {
  border-radius: 30px;
  background-color: #0575e6;
  display: flex;
  padding: 8px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 0;
}

.bt-read-more:hover {
  background: #0553a3;
}

@media (min-width: 0px) and (max-width: 960px) {
  html,
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
  .sc-left-body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 163px;
    flex-shrink: 0;
    align-items: center;
    clip-path: polygon(0 0, 100% 0%, 100% 78%, 0 100%);
    background-color: linear-gradient(
      180deg,
      #0575e6 0%,
      #02298a 84.79%,
      #021b79 100%
    );
    padding: 20px;
  }

  .container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    margin-top: 40px;
  }
  .title {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }

  .text p {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    width: 100%;
    margin-left: 0px;
  }
  .sc-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 30px;
  }

  .sc-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
  }
  .bt-read-more {
    visibility: hidden;
  }

  .elipse-1 {
    display: none;
  }

  .elipse-2 {
    display: none;
  }
}
